<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reserva de Espaços{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    {% block extra_css %}{% endblock %}
</head>
<body class="min-h-screen bg-base-200">
    {% include "partials/_messages.html" %}
    {% block content %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html>
